html
  head
    title Cumulocity Measurement Editor
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/static/custom/style.css")
  body
    .container
      h1 Cumulocity Measurement Editor

      form(method="GET", action="/")
        .form-row
          .form-group.col-md-6
            label(for='source') Source
            input#source.form-control(name="source" type='input', placeholder='*' value=source)
          .form-group.col-md-6
            label(for='auth') Auth
            input#auth.form-control(name="auth" type='input', placeholder='Base64 Basic Authentication String' value=auth required)
        .form-row
          .form-group.col-md-6
            label(for='type') Type
            input#type.form-control(name="type" type='input', placeholder='*' value=type)
          .form-group.col-md-6
            label(for='fragmentType') Fragment Type
            input#fragmentType.form-control(name="fragmentType" type='input', placeholder='*' value=fragmentType)
        .form-row
          .form-group.col-md-4
            label(for='from') From
            input#from.form-control(name="from" type='date' value=from)
            small.form-text.text-muted Beginning of day
          .form-group.col-md-4
            label(for='to') To
            input#to.form-control(name="to" type='date' value=to)
            small.form-text.text-muted End of day
          .form-group.col-md-4
            label(for='pageSize') Page Size
            input#pageSize.form-control(name="pageSize" type='number' value=pageSize)
        .form-row
          .form-group
            a.btn(role="button" href="/") Clear
            button.btn.btn-primary(type="submit") Query!
        input(name="pageNumber" type="hidden", value=pageNumber)


    if measurements && measurements.length > 0
      .container
        form(method="POST" action="/delete" onsubmit="return confirm('Delete selected measurements?');")
          input(name="auth" type="hidden", value=auth)
          table.table.table-striped.table-hover.table-sm
            thead
              th Selected
              th Time
              th ID
              th Source
              th Type
              th Data
              //- th Actions
            tbody
              each measurement in measurements
                tr
                  td
                    .form-check
                      input.form-check-input.position-static.table-select(name=measurement.id type="checkbox" value="")
                  td=new Date(measurement.time).toLocaleString()
                  td=measurement.id
                  td=measurement.source.id
                  td=measurement.type
                  td
                    ul
                      each key in Object.keys(measurement).filter(key => !['time', 'source', 'id', 'type', 'self'].includes(key))
                        li=key
                          ul
                            - let fragment = measurement[key]
                            each subkey in Object.keys(fragment)
                              li.text-muted=`${subkey} = ${fragment[subkey].value} ${fragment[subkey].unit}`
                  //- td
                  //-   a.btn(role="button" href=`/delete/${measurement.id}`) Delete
                  .form-row
          .form-group
            a.btn(role="button" href="javascript:selectAll()") Select All
            a.btn(role="button" href="javascript:selectNone()") Select None
            button.btn.btn-primary(type="submit") Delete Selected


        nav(aria-label='Measurement Paginator')
          ul.pagination.pagination-sm
            li.page-item
              a.page-link(href=paginatorQueryTemplate.replace('PAGE_NUMBER', Math.max(pageNumber - 1, 1))) Previous
            - p = 0
            while p++ < pageCount
              li.page-item(class=(p==pageNumber ? 'active' : ''))
                a.page-link(href=paginatorQueryTemplate.replace('PAGE_NUMBER', p) )=p
            li.page-item
              a.page-link(href=paginatorQueryTemplate.replace('PAGE_NUMBER', Math.min(pageNumber + 1, pageCount))) Next



    script(src="/static/jquery/jquery.min.js")
    script(src="/static/popper/umd/popper.min.js")
    script(src="/static/bootstrap/js/bootstrap.min.js")
    script(src="/static/custom/index.js")